Source: grub-cloud
Section: admin
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian Cloud Team <debian-cloud@lists.debian.org>
XSBC-Pexip-Original-Uploaders: Bastian Blank <waldi@debian.org>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Vcs-Browser: https://salsa.debian.org/cloud-team/grub-cloud
Vcs-Git: https://salsa.debian.org/cloud-team/grub-cloud.git
XS-Pexip-Upstream: http://ftp.debian.org/debian/ bullseye

Package: grub-cloud-amd64
Architecture: amd64
Depends: ${misc:Depends}, grub2-common (>= 2.02+dfsg1-7), grub-efi-amd64-bin, grub-pc-bin
Replaces: grub-pc
Provides: grub-pc
Conflicts: grub-pc
Description: GRand Unified Bootloader (cloud setup)
 This package contains the cloud image setup of GRUB and installs GRUB for the
 PC/BIOS and the EFI-AMD64 architecture.
 .
 You don't want to use this package outside of cloud images.

Package: grub-cloud-arm64
Architecture: arm64
Depends: ${misc:Depends}, grub2-common (>= 2.02+dfsg1-7), grub-efi-arm64-bin
Replaces: grub-pc
Provides: grub-pc
Conflicts: grub-pc
Description: GRand Unified Bootloader (cloud setup)
 This package contains the cloud image setup of GRUB and installs GRUB for the
 EFI-ARM64 architecture.
 .
 You don't want to use this package outside of cloud images.
